billing_service/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/customer">
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="bankaccount" type="xsd:string" />
			<xsd:element name="city" type="xsd:string" />
			<xsd:element name="street" type="xsd:string" />
			<xsd:element name="housenumber" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>