resources/OrchestratorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="orchestrator" targetNamespace="http://www.example.org/orchestrator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/orchestrator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:customer="http://www.example.org/customer">
  <wsdl:types>
    <xsd:schema>
	      <xsd:import id="customer.xsd" namespace="http://www.example.org/customer" schemaLocation="customer.xsd"/>
	    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeliveryResponse">
    <wsdl:part name="deliverID" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="approved" type="xsd:boolean">
    </wsdl:part>
    <wsdl:part name="orderID" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="price" type="xsd:double">
    </wsdl:part>
    <wsdl:part name="expectedDeliveryDate" type="xsd:dateTime">
    </wsdl:part>
    <wsdl:part name="carrier" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rentIceSkatesRequest">
    <wsdl:part name="customer" type="customer:Customer">
    </wsdl:part>
    <wsdl:part name="size" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rentIceSkatesResponse">
    <wsdl:part name="succeeded" type="xsd:boolean">
    </wsdl:part>
    <wsdl:part name="iceSkatesID" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="expectedDeliveryDate" type="xsd:dateTime">
    </wsdl:part>
    <wsdl:part name="carrier" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnmentReminder">
    <wsdl:part name="iceSkateID" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="expectedReturnDate" type="xsd:dateTime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrchestratorPortType">
    <wsdl:operation name="rentIceSkates">
      <wsdl:input message="tns:rentIceSkatesRequest">
    </wsdl:input>
      <wsdl:output message="tns:rentIceSkatesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryResponse">
      <wsdl:input message="tns:DeliveryResponse">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReturnmentReminder">
      <wsdl:input message="tns:returnmentReminder">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="orchestratorBinding" type="tns:OrchestratorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="rentIceSkates">
      <soap:operation style="rpc"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryResponse">
      <soap:operation style="rpc"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReturnmentReminder">
      <soap:operation style="rpc"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrchestratorService">
    <wsdl:port name="orchestratorPort" binding="tns:orchestratorBinding">
      <soap:address location="http://localhost:8080/SOA-project/services/OrchestratorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
