IceSkatingODE/bpelContent/orchestrator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	targetNamespace="http://www.example.org/orchestrator"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/orchestrator" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:customer="http://www.example.org/customer">
	
	<wsdl:types>
	    <xsd:schema>
	      <xsd:import id="customer.xsd"
	                  schemaLocation="./customer.xsd"
	                  namespace="http://www.example.org/customer"/>
	    </xsd:schema>
  	</wsdl:types>

	<wsdl:message name="rentIceSkatesRequest">
		<wsdl:part name="customer" type="customer:Customer"/>
		<wsdl:part name="size" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="rentIceSkatesResponse">
		<wsdl:part name="succeeded" type="xsd:boolean"/>
		<wsdl:part name="iceSkatesID" type="xsd:int"/>
		<wsdl:part name="expectedDeliveryDate" type="xsd:dateTime"/>
		<wsdl:part name="carrier" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="returnmentReminder">
		<wsdl:part name="iceSkateID" type="xsd:int"/>
		<wsdl:part name="expectedReturnDate" type="xsd:dateTime"/>
	</wsdl:message>
	
	<wsdl:portType name="OrchestratorPortType">
		<wsdl:operation name="rentIceSkates">
			<wsdl:input message="tns:rentIceSkatesRequest"/>
			<wsdl:output message="tns:rentIceSkatesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReturnmentReminder">
			<wsdl:input message="tns:returnmentReminder"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<plnk:partnerLinkType name="OrchestratorPLT">
		<plnk:role name="orchestratorService" portType="tns:OrchestratorPortType" />
	</plnk:partnerLinkType>
	
	<wsdl:binding name="orchestratorBinding" type="tns:OrchestratorPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="rentIceSkates">
			<soap:operation style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReturnmentReminder">
			<soap:operation style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.example.org/orchestrator"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="orchestratorService">
		<wsdl:port name="orchestratorPort" binding="tns:orchestratorBinding">
			<soap:address location="http://localhost:8080/ode/processes/orchestratorService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>