IceSkatingODE/bpelContent/RentalTracking.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="rentalTracking"
	targetNamespace="http://www.example.org/rentalTracking"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/rentalTracking" 
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:message name="trackIceSkatesRequest">
		<wsdl:part name="iceSkatesID" type="xsd:int"/>
		<wsdl:part name="deliveryID" type="xsd:int"/>
	</wsdl:message>
	
	<wsdl:message name="returnmentReminder">
		<wsdl:part name="iceSkateID" type="xsd:int"/>
		<wsdl:part name="expectedReturnDate" type="xsd:dateTime"/>
		<wsdl:part name="deliveryID" type="xsd:int"/>
	</wsdl:message>
	
	<vprop:property name="trackingprop" type="xsd:int"/>
    <vprop:propertyAlias messageType="tns:trackIceSkatesRequest" part="deliveryID" propertyName="tns:trackingprop"/>
    <vprop:propertyAlias messageType="tns:returnmentReminder" part="deliveryID" propertyName="tns:trackingprop"/>
    
	<wsdl:portType name="rentalTrackingPortType">
		<wsdl:operation name="rentalTracking">
			<wsdl:input message="tns:trackIceSkatesRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="rentalTrackingCallBackPortType">
		<wsdl:operation name="ReturnmentReminder">
			<wsdl:input message="tns:returnmentReminder"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<plnk:partnerLinkType name="TrackingPLT">
		<plnk:role name="TrackingService" portType="tns:rentalTrackingPortType" />
		<plnk:role name="TrackingServiceCallBack" portType="tns:rentalTrackingCallBackPortType" />
	</plnk:partnerLinkType>
	
	<wsdl:binding name="rentalTrackingBinding" type="tns:rentalTrackingPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="rentalTracking">
			<soap:operation style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.example.org/rentalTracking"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="rentalTrackingCallBackBinding" type="tns:rentalTrackingCallBackPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ReturnmentReminder">
			<soap:operation style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.example.org/rentalTrackingReminder"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="rentalTrackingService">
		<wsdl:port name="rentalTrackingPort" binding="tns:rentalTrackingBinding">
			<soap:address location="http://localhost:9080/tracking_service/services/rentalTrackingService"/>
		</wsdl:port>
	</wsdl:service>
	
	<wsdl:service name="rentalTrackingCallBackService">
		<wsdl:port name="rentalTrackingCallBackPort" binding="tns:rentalTrackingCallBackBinding">
			<soap:address location="http://localhost:8080/ode/processes/rentalTrackingCallBack"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>